* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  grid-area: t;
  text-align: center;
  width: 100%;
  height: calc(100vh - 40px);
  background-color: rgba(120,103,103,0.7);
  position: absolute;
  top: 0;
  left: 0;
}

#t1 {
  color: white;
  font-family: 'Acme', sans-serif;
  font-weight: 100;
  font-size: 38px;
  position: relative;
  top: 42%;
  letter-spacing: 0.6px;
}

#t2{
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  position: relative;
  top: calc(42% - 20px);
  letter-spacing: 0.3px;
}

.banner {
  grid-area: b;
  width: 100%;
  height: calc(100vh - 40px);
  background-image: url("https://cdn.glitch.com/8ad6dd91-69e4-41cf-9d7d-76fb739d6a20%2FGerman%20Canadian.png?v=1579637071880");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav {
  grid-area: nav;
  font-family: 'Lato', sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #AB3F3F;
  border-top: gray solid;
  border-bottom: gray solid;
  border-width: 1px
}

.extra {
   margin-left: calc(100% - 350px);
  padding: 2px;
}

.nav a {
  color: lightgray;
  float: left;
  display: block;
  margin-left: 30px;
  padding: 1px;
}

.nav a:hover {
  cursor: pointer;
  color: white;
}


.main {
  grid-area: main;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about {
  grid-area: a;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  grid-area: foot;
  background-color: yellow;
}

/* My app is pretty linear with a top to bottom design and does not require shifting elements around responsively */
.grid-container {
  display: grid;
  grid-template-areas: 
    "t t"
    "b b"
    "nav nav"
    "main main"
    "a a"
    "foot foot";
  grid-template-columns: repeat(2, 50%);
}

